body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Arial', sans-serif; /* Add your preferred font-family */
  font-weight: 300;
}

.App {
  text-align: center;
}

header {
  padding: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  margin-right: 10px;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

main {
  padding: 20px;
}

footer {
  padding: 10px;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
}

/* Additional styling for page content */
.page-content {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

/* Style links in the navigation menu */
nav a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

nav a:hover {
  color: #61dafb; /* Change the color on hover if needed */
}
